<header>
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a [attr.data-tooltip]="getLoginTooltip()" class="" #tooltip>{{ currentUser?.email }}</a></li>
        <li><a href="#" class="waves-effect waves-orange" (click)="logout($event)"><i class="material-icons">exit_to_app</i></a></li>
      </ul>
    </div>
  </nav>
</header>

<ul class="sidenav sidenav-fixed">
  <!-- Tus ítems de la barra lateral aquí -->
  <li class="logo"></li>
  <li *ngFor="let link of links" routerLinkActive="active">
    <a [routerLink]="[link.url]" class="waves-effect waves-orange">
      <i class="material-icons left">{{ link.icon }}</i>
      {{ link.name | translate }}
    </a>
  </li>
</ul>

<main class="content">
  <app-token-expiration-timer [expirationDate]="currentUser?.sessionExpiresAt ?? null"></app-token-expiration-timer>
  <router-outlet></router-outlet>
</main>

<div class="fixed-action-btn" #floating>
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating green" routerLink="/order">
        <i class="material-icons">assignment</i>
      </a>
    </li>
    <li>
      <a class="btn-floating blue" routerLink="/categories/new">
        <i class="material-icons">list</i>
      </a>
    </li>
  </ul>
</div>
