<div class="page-title">
  <h4>{{ 'warehouse.list' | translate }}</h4>
  <button routerLink="/warehouses/new" class="waves-effect waves-light btn darken-1">
    {{ 'warehouse.new' | translate }}
  </button>
</div>

<table class="highlight responsive-table" aria-describedby="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ubicación</th>
      <th>Capacidad</th>
      <th>Estado Operacional</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let warehouse of warehouses">
      <td>{{ warehouse.name }}</td>
      <td>{{ warehouse.location.city }}, {{ warehouse.location.country }}</td>
      <td>{{ warehouse.capacity }}</td>
      <td>{{ warehouse.operationalStatus }}</td>
      <td>
        <!-- Botones de acción como editar o eliminar -->
        <div class="action-buttons">
          <button class="btn btn-small"><i class="material-icons"
              [routerLink]="['/warehouses', warehouse._id]">edit</i></button>
          <button class="btn btn-small red" (click)="deleteWarehouse(warehouse)"><i class="material-icons">delete</i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>