<div class="page-title">
  <h4>Категории</h4>
  <button class="waves-effect waves-light btn grey darken-1" routerLink="/categories/new">
    Добавить категорию
  </button>
</div>

<div class="category-count" *ngIf="filteredCategories$ | async as categories">
  <p>
    Displaying {{ categories.length }} categories
  </p>
</div>

<!-- Search Input -->
<div class="row">
  <div class="input-field col s11">
    <input type="text" placeholder="Поиск по имени" [formControl]="searchControl">
  </div>
  <div class="input-field col s1">
    <button class="btn btn-small" (click)="clearSearch()">Clear</button>
  </div>
</div>

<!-- Categories List -->
<div class="row">
  <div class="col s12" *ngIf="filteredCategories$ | async as categories">
    <div *ngIf="categories.length; else noCategories">
      <ul class="collection">
        <li *ngFor="let category of categories" class="collection-item">
          <div class="category-name">{{ category.name }}</div>
          <div class="action-buttons">
            
            <button class="btn btn-small" (click)="editCategory(category)" [routerLink]="['/categories', category._id]"><i class="material-icons">edit</i></button>
            <button class="btn btn-small red" (click)="deleteCategory(category)"><i class="material-icons">delete</i></button>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #noCategories>
      <div class="center">No categories found</div>
    </ng-template>
  </div>
</div>


<ng-template #loader>
  <app-loader></app-loader>
</ng-template>