<form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-content">
        <span class="card-title">Регистрация</span>
        <div class="input-field">
            <input formControlName="email" id="email" type="email"
                [ngClass]="{'invalid': form.get('email')?.invalid && form.get('email')?.touched}">
            <label for="email">Email</label>
            <span class="helper-text red-text" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                <span *ngIf="form.get('email')?.hasError('required')">Email обязателен</span>
                <span *ngIf="form.get('email')?.hasError('email')">Введите действительный email</span>
            </span>
        </div>
        <div class="input-field">
            <input formControlName="password" id="password" type="password"
                [ngClass]="{'invalid': form.get('password')?.invalid && form.get('password')?.touched}">
            <label for="password">Пароль</label>
            <span class="helper-text red-text" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                <span *ngIf="form.get('password')?.hasError('required')">Пароль обязателен</span>
                <span *ngIf="form.get('password')?.hasError('minlength')">Пароль должен содержать минимум 4
                    символа</span>
            </span>
        </div>
    </div>
    <div class="card-action">
        <button type="submit" class="btn waves-effect" [disabled]="form.invalid || loading">Зарегистрироваться</button>
    </div>
    <div *ngIf="loading" class="center">
        <app-loader></app-loader>
    </div>
</form>