<div class="page-title">
    <h4>{{ 'history.title' | translate }}</h4>
    <button (click)="isFilterVisible = !isFilterVisible" class="btn btn-small"
        [attr.data-tooltip]="(isFilterVisible ? 'history.close_filter' : 'history.open_filter') | translate" [ngClass]="{
        'active': isFilterVisible,
        'red': isFiltered()
    }" [attr.aria-label]="(isFilterVisible ? 'Close Filter' : 'Open Filter') | translate" #tooltip>
        <i class="material-icons">filter_list</i>
    </button>

</div>

<app-history-filter (onFilter)="applyFilter($event)" *ngIf="isFilterVisible"></app-history-filter>

<div *ngIf="!reloading; else reloadingBlock">
    <div *ngIf="orders.length > 0; else empty">
        <app-history-list [orders]="orders"></app-history-list>

        <div class="center mb2" *ngIf="!noMoreOrders">
            <button *ngIf="!loading; else loader" (click)="loadMore()" class="btn waves-effect grey darken-1 btn-small">
                {{ 'history.load_more' | translate }}
            </button>
            <ng-template #loader>
                <app-loader></app-loader>
            </ng-template>
        </div>
    </div>
    <ng-template #empty>
        <div class="center">
            {{ 'history.no_orders' | translate }}
        </div>
    </ng-template>
</div>

<ng-template #reloadingBlock>
    <app-loader></app-loader>
</ng-template>